@font-face {
    font-family: 'SpotifyMix';
    src: url('SpotifyMix-Medium.ttf') format('truetype');
    /* or 'opentype', 'woff', etc */
}

body {
    background-color: black;
    color: white;
}

.flex {
    display: flex;
}

.justify-content {
    justify-content: center;
}

.align-items {
    align-items: center;
}

.left-box {
    /* position: absolute; */
    width: 28vw;
    background-color: #121212;
    height: 78vh;
    margin-right: 8px;
    border-radius: 7px;
    
}

.right-box {
    width: 72vw;
    height : 78vh;
    background-color: #121212;
    border-radius: 7px;
    overflow-y: auto;
}

.home {
    background-color: #121212;
    height: 47px;
    width: 47px;
    border-radius: 39px;
    margin-top: 1px;
}

.home img {
    padding-top: 8px;
    padding-left: 10.5px;
    height: 27px;
}

.logo {
    height: 35px;
    padding-right: 42px;
    padding-left: 19px;
    padding-top: 6px;
}


.searchsvg {
    margin-left: 16px;
    margin-top: 9px;
    margin-right: 10px;
    height: 27px;
    z-index: 10;
}

.search-input {
    padding-left: 10px;
    border-radius: 200px;
    border: 2px solid #1f1f1f;
    margin-left: -44px;
    width: 403px;
    background-color: #1f1f1f;
    padding-left: 46px;
    height: 42px;
}

.search-input::placeholder {
    font-size: 16px;
    /* Increase size */
    font-weight: 520;
    /* Make it bolder (can use 600 or 700 if you want more weight) */
    color: #b3b3b3;
    font-family: 'SpotifyMix';
    font-weight: 400;
    color: white;
    /* Optional: make the color lighter or custom */
}

.nav-links {
    padding-left: 182px;
    padding-top: 10px;
    text-decoration: none;
    color: white;
    gap: 20px;
}

.line {
    background: #fff;
    height: 25px;
    margin-left: 21px;
    margin-top: 8px;
    width: 1px;

}

.nav-links2 {
    padding-left: 49px;
    padding-top: 10px;
    gap: 40px;
    text-decoration: none;
    color: white;
}

.nav-links a {
    text-decoration: none;
    color: rgb(179,179,179);
    font-weight: bold;
    font-family: 'SpotifyMix';
    font-weight: 400;
}

.nav-links  :hover{
    color: white;
}

.nav-links2 a {
    text-decoration: none;
    color: rgb(179,179,179);
    font-weight: bold;
    font-family: 'SpotifyMix';
    font-weight: 400;
}

.nav-links2  :hover{
    color: white;
}
.login-btn {
    width: 99px;
    height: 44px;
    background-color: white;
    margin-left: 15px;
    margin-top: 1px;
    border-radius: 62px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    border: none;
}

.login-btn:hover{
    font-weight: bold;
    font-size: 17px;
    
   
}

.plus {
    height: 16px;
    padding-left: 2px;
    padding-right: 16px;
    padding-top: 23px;
}

.container {
    margin-top: 10px;
}

.heading {
    justify-content: space-between;
    padding-left: 11px;
    padding-right: 11px;
}

.heading h2 {
    font-size: 16px;

    font-family: 'SpotifyMix';
    font-weight: 700;
    padding: 7px;
}

/* .playlist {
    background-color: #1f1f1f;
    border-radius: 7px;
    width: 400px;
    margin-left: 9px;
    height: 137px;
    margin-top: 21px;
} */

.star h2 {
    font-size: 16px;
    font-family: 'SpotifyMix';
    font-weight: 700;
    padding: 17px 2px 2px 20px
}

.star h3 {
    font-size: 14px;
    font-family: 'SpotifyMix';
    font-weight: 400;
    padding: 0px 2px 2px 20px
}

.star button {
    width: 131px;
    height: 33px;
    background-color: white;
    margin-left: 15px;
    margin-top: 1px;
    border-radius: 62px;
    cursor: pointer;
    border: 2px solid white;
}

.podcast {
    background-color: #1f1f1f;
    border-radius: 7px;
    width: 400px;
    margin-left: 9px;
    height: 137px;
    margin-top: 21px;
}

.custom-btn {
    font-weight: 700 !important;
    font-family: 'spotifyMix';
    font-size: 14px !important;
}

.left-footer {
    padding: 32px 32px 2px 22px;
}

.left-footer a {
    display: inline-block;
    font-size: 11px;
    font-weight: 400;
    font-family: "spotifyMix";
    margin-right: 15px;
    text-decoration: none;
    color: white;
    margin-bottom: 10px;
}

.lang {
    padding-left: 19px;
    padding-top: 6px;
    color: white;

}

.lang button {
    background-color: #121212;
    width: 105px;
    height: 35px;
    border: 2px solid white;
    border-radius: 20px;
    color: white;
    font-family: 'spotifyMix';
    font-size:14px;
    font-weight:700;

}

.lang img {
    height: 19px;
    padding-right: 6px;
}

.head{
    font-family: 'SpotifyMix';
    font-size: 24px;
    font-weight: 700;
    padding: 6px 2px 2px 23px;
}

.card img{
    height: 151px;
    width: 151px;
    object-fit: cover;
    margin: 2px 0px 0px 26px;
    border-radius: 6px;
}

.card h2{
    font-family: 'SpotifyMix';
    font-size:16px;
    font-weight: 400;
    margin: 2px 0px 0px 26px;
    
}

.card p{
    font-family: 'SpotifyMix';
    font-size:13px;
    font-weight: 400;
    margin: 2px 0px 0px 26px;
    color: rgb(179,179,179);
}


/*scrollbar  */

/* Style for scrollbar */
::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #333; /* Dark thumb */
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Darker thumb when hovered */
  }
  
  ::-webkit-scrollbar-track {
    background: #222; /* Dark track */
    border-radius: 10px;
  }



.controls img{
    
    height: 44px;
    width: 17px;
}

.controls{
    gap: 28px;
    margin-top: 19px;
}

.circle{
    background-color: white;
    height: 32px;
    width: 32px;
    border-radius: 19px;

}
.circle img{
    height: 16px;
    width: 17px;
}

.leftsongs{
    position: relative;
    height: 45vh;
    background-color: #121212;
    overflow-y: auto;
}

.filters button{
    background-color: #1f1f1f;
    border: 2px solid #1f1f1f;
    color: white;
    font-family: 'SpotifyMix';
    border-radius: 25px;
    height: 35px;
    margin-left: 15px;
    width: 73px;
}

.playlistcard img{
    height: 50px;
    width: 50px;
    border-radius: 4px;
}

.playlistcard{
    font-family: 'SpotifyMix';
    padding: 17px 2px 2px 15px;
    
}

.playlistsonginfo h2{
    font-size: 16px;
    margin: 2px 2px 2px 15px;
    font-weight: 400;
}

.playlistsonginfo span{
    font-size: 13px;
    font-weight: 100;
    margin-left: 16px;
}

.artist{
    font-family: 'SpotifyMix';
    padding: 17px 2px 2px 15px;
}

.artist img{
    height: 50px;
    width: 50px;
    border-radius: 50px;
}

.leftplaylists{
    height: 64.5vh;
    overflow-y: auto;
    overflow-y: scroll;
}